## 基本概念

In [1]:
import pandas as pd
pd.__version__

'0.22.0'

In [2]:
!pip3 install -U pandas

Requirement already up-to-date: pandas in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages
Requirement already up-to-date: numpy>=1.9.0 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from pandas)
Requirement already up-to-date: pytz>=2011k in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from pandas)
Requirement already up-to-date: python-dateutil>=2 in /Users/meininghang/Library/Python/3.6/lib/python/site-packages (from pandas)
Requirement already up-to-date: six>=1.5 in /Users/meininghang/Library/Python/3.6/lib/python/site-packages (from python-dateutil>=2->pandas)

### 创建series

In [3]:
pd.Series(['San Francisco', 'San Jose', 'Sacramento'])

0    San Francisco
1         San Jose
2       Sacramento
dtype: object

### dataframe

In [4]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([8263489,23456,2456766])
pd.DataFrame({'city name':city_names,'population':population})

       city name  population
0  San Francisco     8263489
1       San Jose       23456
2     Sacramento     2456766

#### 加载csv

In [5]:
california_housing_dataframe = pd.read_csv('/Users/meininghang/Downloads/california_housing_test.csv')

In [6]:
california_housing_dataframe.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [7]:
california_housing_dataframe.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [9]:
california_housing_dataframe.hist('housing_median_age')

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x11411e198>]],
      dtype=object)

## 访问数据

In [10]:
cities = pd.DataFrame({'City names':city_names,'Population':population})
print(type(cities['City names']))
cities['City names']

<class 'pandas.core.series.Series'>

0    San Francisco
1         San Jose
2       Sacramento
Name: City names, dtype: object

## 操控数据

In [11]:
population / 12000000000

0    0.000689
1    0.000002
2    0.000205
dtype: float64

### series可用作numpy的参数

In [12]:
import numpy as np
np.log(population)

0    15.927357
1    10.062882
2    14.714356
dtype: float64

### 匿名函数,针对单列应用函数

In [13]:
population.apply(lambda val:val>1000000)

0     True
1    False
2     True
dtype: bool

## 对dataframe增加新列

In [15]:
cities['Area square miles'] = pd.Series([46.87,176.53,97.92])
cities['Population density'] = cities['Population']  / cities['Area square miles']
cities

      City names  Population  Area square miles  Population density
0  San Francisco     8263489              46.87       176306.571368
1       San Jose       23456             176.53          132.872600
2     Sacramento     2456766              97.92        25089.522059

#### ex

In [17]:
cities['Is wide and has saint name'] = (cities['Area square miles'] > 50) & cities['City names'].apply(lambda name: name.startswith('San'))
cities

,City names,Population,Area square miles,Population density,Is wide and has saint name
0,San Francisco,8263489,46.87,176306.571368,False
1,San Jose,23456,176.53,132.872600,True
2,Sacramento,2456766,97.92,25089.522059,False

## 索引

In [18]:
city_names.index

RangeIndex(start=0, stop=3, step=1)

In [19]:
cities.index

RangeIndex(start=0, stop=3, step=1)

### reindex

In [20]:
cities.reindex([2,0,1])

,City names,Population,Area square miles,Population density,Is wide and has saint name
2,Sacramento,2456766,97.92,25089.522059,False
0,San Francisco,8263489,46.87,176306.571368,False
1,San Jose,23456,176.53,132.872600,True

### 随机排列

In [23]:
cities.reindex(np.random.permutation(cities.index))

,City names,Population,Area square miles,Population density,Is wide and has saint name
0,San Francisco,8263489,46.87,176306.571368,False
1,San Jose,23456,176.53,132.872600,True
2,Sacramento,2456766,97.92,25089.522059,False

### ex

In [25]:
cities.reindex([0,4,5,2])

,City names,Population,Area square miles,Population density,Is wide and has saint name
0,San Francisco,8263489.0,46.87,176306.571368,False
4,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
2,Sacramento,2456766.0,97.92,25089.522059,False